// app connection

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        outline: none;
        text-decoration: none;
    }
    .buttons:hover {
        cursor:pointer;
        outline: none;
        text-decoration: none;
    }
    #newGame {
        margin: 15px;
    }
    #loadGame {
        border-radius: 10px;
    }
}