.footer {
    display: flex;
    flex-direction: row;
    bottom: 0; position: fixed;
    width: 100vw;
    background-color: whitesmoke;
    font-size: 9px;
    .footLeft {
        display: flex;
        flex-direction: row;
        width: 80%;
        div {
            margin-left: 25px;
        }
    }
    .footRight {
        display: flex;
        width: 20%;
        flex-direction: row-reverse;
        div {
            margin-right: 25px;
        }
    }
}