.navBar {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    .DBConnection {
        margin-right: 15px;
    }
    #accountButton {
        margin-right: 15px;
    }
}